[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=ideas for program
Type=Link
URL=https://docs.google.com/document/d/1Rw-L5MJiqCNGP_OofGeV4IQnnFz2-IHzYEhVFUIrRPU/edit?usp=drivesdk
